/*Footer*/ 

.rodape {
    height: 500px;
    flex-shrink: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer h2 {
    color: #FFF;
    font-family: "Sora";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 173px;
}
.info {
    margin-top: 40px;
}
footer ul li {
    color: #FFF;
    font-family: "Sora";
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    padding-right: 350px;
}
footer ul li:last-child {
    margin-top: 40px;
}
footer ul li:nth-child(2) {
    text-decoration: underline;
    cursor: pointer;
}